@import "tailwindcss";
@plugin "daisyui";

/* Light mode scrollbar */
::-webkit-scrollbar-track{
  background-color: #f5f5f5;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(66, 66, 66, 0.2);
  border-radius: 5px;
}

@media(prefers-color-scheme: dark){
  :root{
    --background: #1d232a;
    --foreground: #ffffff;
  }
}

@media(max-width: 767px){
  .repo-data{
    font-size: 1.2rem;
  }
  .user-data{
    font-size: 1.2rem;
  }
  .button-text{
    font-size: 1.2rem;
  }
  .pro-data{
    font-size: 1.2rem;
  }
  .footer-text{
    font-size: 1.1rem;
  }
}